@define-color background #132423;
@define-color foreground #01d38f;
@define-color accent #C190EB;
@define-color error #F96184;
@define-color warning #F6B016;
@define-color info #7289DE;
@define-color success #01D38F;
