@define-color bg #081112;
@define-color fg #01d38f;
@define-color gray1 #01d38f;
@define-color gray2 #132423;
@define-color gray3 #01d38f;
@define-color gray4 #01d38f;
@define-color gray5 #132423;
@define-color fg_bright #132423;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}