@import '../omarchy/current/theme/waybar.css';

* {
  background-color: black;
  color: @foreground;

  border: none;

  font-family: 'CaskaydiaMono Nerd Font Propo';
  font-size: 12px;
}

tooltip {
  opacity: 0.9;
}

window#waybar {
  background-color: transparent;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

/*.modules-center {
  border-radius: 0;
  border-left: 1px solid alpha(@foreground, 0.2);
  border-right: 1px solid alpha(@foreground, 0.2);
  padding: 0 80px;
}*/

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#window,
#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#backlight,
#language,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#window {
  padding-right: 8px;
}

#custom-music,
#clock {
  border-radius: 0;
  border-left: 1px solid alpha(@foreground, 0.2);
  padding: 0 20px 0 20px;
}

tooltip {
  padding: 0.5px;
}

#custom-update {
  font-size: 10px;
  padding: 2px 0 0 0px;
}

#clock,
#idle_inhibitor {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
#window {
  margin: 8.75px;
}
