@import "../omarchy/current/theme/waybar.css";

@define-color error #F96184;
@define-color warning #F6B016;
@define-color success #01D38F;

/* Global */
* {
  color: @foreground;
  background: transparent;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 12px;
}

/* Modules */
.modules-left {
  background-color: @background;
  border-radius: 0 0 5px 0;
}
.modules-right {
  background-color: @background;
  border-radius: 0 0 0 5px;
}
.modules-center {
  background-color: @background;
  border-radius: 0 0 5px 5px;
}

/* Items */
#window,
#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#language,
#clock,
#custom-music,
#custom-mullvad,
#custom-screenrecording-indicator,
#custom-omarchy,
#custom-expand-icon,
#custom-update {
  min-width: 14px;
  margin: 0 7.5px;
}

/* Workspaces */
#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}
#workspaces button.empty {
  opacity: 0.5;
}

/* Tooltip */
tooltip {
  padding: 2px;
  background-color: @background;
  border-radius: 5px;
}

/* Battery */
#battery.critical {
  color: @error;
}

/* Mullvad VPN */
#custom-mullvad.connecting {
  color: @foreground;
}
#custom-mullvad.connected {
  color: @success;
}
#custom-mullvad.disconnected {
  font-size: 16px;
  margin: 0 7.5px 0 4.5px;
  color: @error;
}

/* custom-music */
#custom-music {
  color: @error;
}

/* Screen Recording Indicator */
#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}
#custom-screenrecording-indicator.active {
  color: @error;
}

/* Utils */
.hidden {
  opacity: 0;
}

/* Overrides */
#custom-omarchy,
#custom-mullvad,
#custom-music {
  min-width: 0;
}
#bluetooth,
#custom-expand-icon {
  font-size: 14px;
}
#pulseaudio,
#network {
  font-size: 18px;
}
#custom-music {
  padding-left: 15px;
  border-left: 1px solid alpha(@foreground, 0.2);
}
#clock {
  margin-left: 8.75px;
}
