@import "../omarchy/current/theme/waybar.css";
@define-color error #F96184;
@define-color warning #F6B016;
@define-color success #01D38F;

* {
  color: @foreground;
  background: transparent;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 12px;
  font-weight: 700;
}

.modules-right {
  background-color: @background;
  border-radius: 15px;
  padding: 0 7.5px;
}

.modules-center {
  border-radius: 15px;
  padding: 0 7.5px;
}

window#waybar.empty #window {
  background: transparent;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: transparent;
  padding: 0;
  margin: 0;
}
#waybar.empty .modules-center {
  opacity: 0;
}

#window,
#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#language,
#clock,
#custom-music,
#custom-mullvad,
#custom-screenrecording-indicator,
#custom-omarchy,
#custom-expand-icon,
#custom-update {
  min-width: 14px;
  padding: 0 7.5px;
}

#workspaces {
  background-color: @background;
  border-radius: 15px;
  padding: 8px;
  margin: 0 0 0 8px;
}

#clock,
#custom-update,
#custom-screenrecording-indicator {
  background-color: @background;
  border-radius: 15px;
  padding: 8px 12px;
  margin: 0 0 0 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#window {
  background-color: @background;
  border-radius: 15px;
}

tooltip {
  padding: 2px;
  background-color: @background;
  border-radius: 5px;
}

#battery.critical {
  color: @error;
}

#custom-mullvad.connecting {
  color: @foreground;
}

#custom-mullvad.connected {
  color: @success;
}

#custom-mullvad.disconnected {
  color: @error;
}

#custom-omarchy {
  font-size: 16px;
}

#custom-omarchy,
#custom-music {
  background-color: @background;
  border-radius: 15px;
  padding: 2px 18px;
}

#custom-screenrecording-indicator.active {
  color: @error;
}

.hidden {
  opacity: 0;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
