@import "../omarchy/current/theme/waybar.css";

* {
  color: @foreground;
  background: transparent;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 12px;
}

.modules-left {
  background-color: @background;
  border-radius: 0 0 5px 0;
}

.modules-right {
  background-color: @background;
  border-radius: 0 0 0 5px;
}

.modules-center {
  background-color: @background;
  border-radius: 0 0 5px 5px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#window,
#tray,
#custom-expand-icon,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#backlight,
#language,
#clock,
#custom-updatespacman,
#custom-music,
#custom-screenrecording-indicator,
#custom-mullvad,
#custom-update {
  min-width: 14px;
  margin: 0 7.5px;
}

#custom-omarchy,
#window,
#custom-music {
  min-width: 0;
}

#tray,
#custom-expand-icon,
#cpu,
#bluetooth,
#memory {
  font-size: 14px;
}

#pulseaudio {
  font-size: 18px;
}

tooltip {
  padding: 2px;
  background-color: @background;
  border-radius: 5px;
}

#custom-update {
  font-size: 10px;
}

#custom-mullvad.connected {
  color: #00ff77;
}

#custom-mullvad.connecting {
  color: @foreground;
}

#custom-mullvad.disconnected {
  font-size: 16px;
  color: #ff0055;
}

#custom-music {
  padding-left: 15;
  border-left: 1px solid alpha(@foreground, 0.2);
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
