define-color bg #181818;
@define-color fg #bfbaad;
@define-color gray1 #a9bab2;
@define-color gray2 #b1ada1;
@define-color gray3 #81817e;
@define-color gray4 #b8b5a2;
@define-color gray5 #cbcadb;
@define-color fg_bright #bfbaad;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}
