@define-color selected-text #acb0d0;
@define-color text #acb0d0;
@define-color base #08080b;
@define-color border #787c99;
@define-color foreground ##acb0d0;
@define-color background #08080b;
@define-color hover #1a1a1a;

/* Search */
window .search-container,
window .search {
  background: alpha(@hover, 0.35);
  color: @foreground;
  border-radius: 5px;
  padding: 4px 8px;
  margin-top: 1px;
  font-size: 10px;
  font-weight: 400;
}

/* Main container */
.box-wrapper {
  border-radius: 10px;
  background: @background;
}

/* Item base */
child {
  border-radius: 10px;
  padding: 2px 6px;
  transition:
    background-color 0.18s ease-out,
    margin 0.18s ease-out;
}

/* Hover */
child:hover {
  background-color: alpha(@hover, 0.25);
}

/* Selected item */
child:selected {
  background-color: alpha(@hover, 0.45);
  transition: background-color 0.22s ease-out;
}

child:selected .item-box {
  margin-left: 6px;
  transition: margin 0.18s ease-out;
}

child:selected .item-box * {
  color: @text;
}
