@import "../omarchy/current/theme/waybar.css";
@define-color error #F96184;
@define-color warning #F6B016;
@define-color success #01D38F;

* {
  font-family: "JetBrainsMono Nerd Font Mono";
}

#waybar {
  font-size: 12px;
  color: @foreground;
  background: @background;
}

#window,
#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#language,
#clock,
#custom-music,
#custom-mullvad,
#custom-screenrecording-indicator,
#custom-omarchy,
#custom-expand-icon,
#custom-update {
  min-width: 14px;
  padding: 0 7.5px;
}

#workspaces {
  margin: 0 8px;
  background-color: @background;
  border-radius: 15px 0 0 15px;
}

#workspaces button {
  all: initial;
  font-size: 24px;
  color: alpha(@foreground, 0.5);
}

#workspaces button.active {
  color: @foreground;
}

#window {
  background-color: @background;
  border-radius: 0 15px 15px 0;
  padding: 2px 18px 0 0;
  margin: 0 8px 0 0;
}

tooltip {
  padding: 2px;
  background-color: @background;
  border-radius: 5px;
}

#battery.critical {
  color: @error;
}

#custom-mullvad.connecting {
  color: @foreground;
}

#custom-mullvad.connected {
  color: @success;
}

#custom-mullvad.disconnected {
  color: @error;
}

#custom-omarchy {
  font-size: 16px;
}

#custom-omarchy,
#custom-music {
  background-color: @background;
  border-radius: 15px;
  padding: 2px 18px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: @error;
}

.hidden {
  opacity: 0;
}
