@import '../../../../.local/share/omarchy/default/walker/themes/omarchy-default/style.css';

* {
  font-family: monospace;
  font-size: 16px;
}

.box-wrapper {
  border-radius: 8px;
  padding: 0px;
  border: 0px solid @border;
  background-color: #18181A;
}

.search-container {
  background-color: #18181A;
  padding: 14px 30px 0px 30px;
}

child:selected .item-box {
  background-color: @background;
}

child:selected .item-box * {
  color: white;
}

.item-box {
  border-radius: 0px;
  margin: 0px 0px;
}

.keybinds-wrapper {
  opacity: 0;
  margin: -20px
}
